.main-wrapper{
  height: 100vh;
  background-color: darkgray;
}

.me-container{
  width: 800px;
  aspect-ratio: 1;
  background-color: darkgray;
}

.square{
  width: 80px;
  height: 80px;
  background-color: darkblue;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: transform 0.8s;
}

.square.active{
  background-color: aquamarine;
  transform: rotateY(180deg);
}